---

config_version: 2

gitlab:
  url: "{{ gitlab_url }}"
  ssl_verify: true
  timeout: 10

projects_and_groups:
  mglftg/*:
    project_settings:
      jobs_enabled: true
      public_jobs: true
      only_allow_merge_if_pipeline_succeeds: true
      only_allow_merge_if_all_discussions_are_resolved: true
    branches:
      master:
        protected: true
        push_access_level: 40
        merge_access_level: 40
        unprotect_access_level: 40
    group_members:
      codrcodz:
        access_level: 50
    enforce_group_members: true
    merge_requests:
      approvals:
        approvals_before_merge: 1
        reset_approvals_on_push: true
        disable_overriding_approvers_per_merge_request: true
    secret_variables:
      PRIVATE_SSH_KEY:
        protected: true
        delete: false
        key: SSH_KEY
        value: "{{ lookup('file', '/etc/repoman/secrets/encrypted/testsecret') }}"